<div *ngIf="tweet">

  <h2>{{tweet.text | uppercase}} Details</h2>
  <div><span>id: </span>{{tweet.id}}</div>
  <div>
    <label> Tweet complet:
      <input [(ngModel)]="tweet.full_text"/>
    </label>
  </div>
  <div>
    <label> Date de creation:
      <input [(ngModel)]="tweet.created_at"/>
    </label>
  </div>
  <div>
    <label> Nombre de retweet:
      <input [(ngModel)]="tweet.retweet_count"/>
    </label>
  </div>
  <div>
    <label> Nombre de hashtags:
      <input [(ngModel)]="tweet.entities.hashtags.length"/>
    </label>
  </div>

</div>




