<div class="center-div" >
    <h1 class="center">Tweet Details</h1>
    <div *ngIf="tweet">
      <div class="details-tweet">
          <h4>Texte Complet Tweet :</h4>
          <p>{{tweet.full_text}}</p>

          <h4>Date de Creation :</h4>
          <p>{{tweet.created_at}}</p>

          <h4>Nombre de retweet : {{ tweet.retweet_count}}</h4>

          <h4>Liste de Hashtags : {{tweet.entities.hashtags.length}}</h4>
      </div>
    </div>
    <div>
      <a class="btn btn-primary" [routerLink]="['/tweets']">Back To Tweet List</a>
      <br><br>
    </div>
    <div class="mdc-card__action">
      <button class="mdc-card__action--button">
        <span (click)="mailMe()">Send Tweet By Mail</span>
      </button>
    </div>
</div>





